* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  /* overflow: hidden; */
}
main {
  /* background: blue; */

  height: 67vh;
  width: 90vw;
  margin: 0 auto;
}
/*  ===========================header=========================  */

header {
  /* background:purple; */
  width: 80vw;
  height: 27vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
h1 {
  color: #6c46c7e0;
  font-size: 2.4rem;
  background: rgba(237, 180, 123, 1);
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  width: 100%;
}
/* header > p {
  width: 400px;
  height: 40px;
   background: blue; 
  color: white;
  margin: 0 auto;
} */

/* ======================================

================= gestion des P data atribute   === */

.data_container {
  /* background: purple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
p[data-attemps-count],
p[data-pairs-found] {
  /* background: green;  */
  padding: 5px;
  color: white;
  margin: 0 auto;
  font-size: 1.6rem;
}

/*
p[data-attemps-count]::after,
p[data-pairs-found]::after,
p[data-score]::after,
p[data-timer]::after {
   color: white;  
 
}/*
/* attribution du contenu des data elements */
p[data-attemps-count]::after {
  content: attr(data-attemps-count);
}
p[data-pairs-found]::after {
  content: attr(data-pairs-found);
}
p[data-score]::after {
  content: attr(data-score);
  font-size: 1.5rem;
}
p[data-timer]::before {
  content: "\23f2"; /*ajout une horloge au pseudo elemnt */
}
p[data-timer]::after {
  content: attr(data-timer);
}
/* =============== Body ================== */

/*  Secction css instuction */
#instruction[class*="hidden"] {
  display: none;
}

#instruction {
  /* background: orange; */
  display: flex;
  width: 60%;
  height: 50%;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  /* background: blue; */
  margin: 0 auto;
}

#instruction > p {
  display: flex;
  width: 50%;
  height: 100%;
  /* background: orangered; */
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.inner_container_img {
  /* background: #066b33; */
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/*
#inner_container_img_right{
  display: flex;
  background: blue;
  width: 40%;
  height: 100%;
  justify-content: center;
}*/

#redapple1,
#redapple2 {
  display: block;
  width: 35%;
  height: 50%;
}

/* =========== BTN start ============= */
button[class="hidden"] {
  display: none;
}
button {
  display: flex;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #6c46c7e0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

/* ====================GAME ZONE (GZ)========= */

#board_game_container {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 100px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  /* width: 20%; */
  height: 95%;
  /* border: 1px solid white; */
  border-radius: 10px;

  /* background: rgba(237, 180, 123, 1); */
  /* margin-top: 30px; */
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}
#board_game_container[class*="hidden"] {
  display: none;
}

/*  ========================================= */
 /* .hidden {
  display: none; 
}  */

.no-click {
  pointer-events: none;
  cursor: not-allowed;
}

/* mise en p^lace des classe pour les cards */
ul[class*="no-click"] {
  pointer-events: none;
  cursor: not-allowed;
}
ul[class*="card"] {
  pointer-events: none;
}

li[class*="no-click"] {
  cursor: not-allowed;
  pointer-events: none;
}

/* li >img{
  
  border:solid 1px black;
  border-radius: 20px;
}  */
/*
 li .card{
  height: 200px;
}*/

li[class*="card"] {
  background: url(./image/desktop/lotus-blossom-modifier.png);
  background-repeat: no-repeat;
  background-position: center;

  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

img[class*="card"] {
  user-select: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */

  visibility: hidden;
}

li [class*="card"] img {
  background: none;
}

/*
img.card{
  border: solid 2px red; 
  
  width: 150px;
  border-radius: 20px ;
} */

li[class*="flip-card"] {
  /* background: url(./image/desktop/backcard.png);  */
  transform: rotateY(360deg);
  transition: transform 0.5s linear;
}

li[class*="flip-card"] img {
  visibility: visible;
}

/*   =============GAME SCORE ZONE ============== */

#gs[class*="hidden"] {
  display: none;
}
/*
#gs[class*="visible"]{
  visibility: visible;
}
*/
#gs {
  /* visibility: hidden; /* 
  /* background: red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

#gs figcaption {
  font-size: 3rem;
  color: white;;
  /* background: black; */
}
#gs > img {
  width: 150px;
}

p[data-score] {
  font-size: 2.5rem;
  color: white;
}

p[data-score][class*="visible"] {
  color: white;
  display: content;
  font-size: 1.5rem;
  margin: 5px;
}

.rank {
  background: grey;
  margin: 10px;
}
#rank1 {
  width: 350px;
  height: 25px;
}
#rank2 {
  width: 300px;
  height: 25px;
}

#rank2 {
  width: 250px;
  height: 25px;
}
#rank3 {
  width: 200px;
  height: 25px;
}
#rank4 {
  width: 150px;
  height: 25px;
}
#rank5 {
  width: 50px;
  height: 25px;
}
/* ================ FOOTER ==================================== */

footer {
  width: 40vw;
  height: 5vh;
  margin: 0 auto;
}
#timer_area[class*="hidden"] {
  display: none;
}

#timer_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #edb47b;
  border-radius: 10px;
}

p[data-timer] {
  color: black;
}

/* =========== responsive =============== */



@media screen and (max-width: 768px) {
  h1{
    font-size: 2rem;
  }
  #instruction {
    width: 100%;
    height: 80%;
  }
#instruction >p{
  font-size: 1.5rem;
}
#redapple1,#redapple2{
  height: 50%;
  width: 45%;
}

@media screen and (max-width: 600px) {
  #instruction >p {
    font-size:1.7rem;
  }
  p[data-attemps-count],p[data-pairs-found]{
    font-size: 1.3rem;
}

}
@media screen and (max-width: 425px) {
  header {
    height: 35vh;
  }
  h1{
    font-size: 1.4rem;
  }

  .data_container {
    width: 85vw;
    height: 18%;
  }
  p[data-attemps-count],p[data-pairs-found]{
    font-size: 1.3rem;
  }

  main {
    height: 52vh;
  }
  #instruction {
    height: 70%;
  }
  #instruction > p {
    width: 80%;
    font-size: 1.5rem;
  }

  #redapple1,
  #redapple2 {
    width: 70%;
    height: 70%;
  }
  #board_game_container{
    height: 70%;
  }
  #gs{
    height: 50%;
  }
}


@media screen and (max-width: 375px) {
  header {
    width: 90vw;
    height: 37vh;
  }
  .data_container {
    width: 100%;
  }
  p[data-attemps-count],
  p[data-pairs-found] {
    font-size: 1.3rem;
  }
  main{
    height: 55vh;
  }
  #board_game_container{
    height:50%;
  }
  #redapple1 , #redapple2{
    height: 55%;
  }
  #gs{
    height:61%
  }
  #gs figure {
    /* background: orange; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;

  }
}

@media screen and (max-width: 320px) {
  header{
    height: 30vh;
  }
  p[data-attemps-count],p[data-pairs-found]{
    font-size: 1.1rem;
  }

  main{
    height: 60vh;
  }
  #board_game_container{
    /* display: grid; */
    grid-template-columns: repeat(4,68px);
    height: 75%;
  }
}

@media screen and (max-width: 280px) {
  header{
    height: 40vh;
  }
  h1 {
    font-size: 1.8rem;
  }


  main{
    height: 54vh;
  }

  #instruction{
    height: 85%;
  }
  #redapple1 , #redapple2 {
    width: 80%;
    height: 65%;
  }
#instruction > p {
  font-size: 1.3rem;
}
  #board_game_container{
    grid-template-columns: repeat(4,58px);
  height: 70%;
  }

}
